.repo{
    border: 2px solid black;
}
.flex{
    display: flex;
    flex-direction: row;
}
.padding{
    padding-top: 5vh;
    padding-left: 10vw;
    background-color: rgb(141, 175, 238);
}
.link{
    text-decoration: none;
}
[classToApply]{
    background-color: aquamarine;
}