<div class="container-fluid" [ngClass]="'flex'">
  <div class="content" role="main">
    <div class="card">
      <div class="form-group">
        <label for="search-text">Goto Repository</label>
        <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="Enter text to search" autofocus>
      </div>
      <ul class="list-group list-group-flush">
        <!-- results of ngFor is passed to appFilter with argument searchText -->
        <li class="list-group-item" *ngFor="let repo of repos | filter: searchText">
          {{repo.name}}
        </li>
      </ul>
    </div>
</div>
<div [ngClass]="'padding'" class="container-fluid">
  <h1 class="text-center">Repositories</h1>
   <ul [ngClass]="'repo'" *ngFor="let repo of repos">
       <pre>{{repo.name}}</pre>
       <a href="{{repo.html_url}}" [ngClass]="'link'" target="_blank">{{repo.html_url}}</a>
       <pre>Created on: {{repo.created_at | date}}</pre>
       <pre>Last updated on: {{repo.updated_at | date}}</pre>
   </ul>
</div>
</div>

