<!--<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header" bg-seconadry text-white>
                    <h3>Github User Search</h3> 
                </div>
                <div class="card-body">
                   <form class="form-inline">
                       <div class="form-group">
                           <input name="user" type="search" class="form-control" placeholder="Github user">
                       </div>
                       <div>
                           <input (click)="getUser()" type="submit" value="search" class="btn btn-secondary btn-sm">
                       </div>
                   </form>      
                </div>
            </div>
        </div>
    </div>
        <div class="col">
           <ul *ngFor="let userof users">
               <img src="{{user.avatar_url}}">
           </ul>
        </div>
</div>-->
<div>
    <h1 class="text-center display-2">Github API getUsers</h1>
</div>
<div class="container-fluid" [ngClass]="'flex'" >
    <div class="content" role="main">
        <div class="card">
          <div class="form-group">
            <label for="search-text">Search Text</label>
            <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
              [(ngModel)]="searchText" placeholder="Enter text to search" 
              autofocus>
          </div>
          <ul class="list-group list-group-flush">
            <!-- results of ngFor is passed to appFilter with argument searchText -->
            <li class="list-group-item" *ngFor="let user of users | filter: searchText">
              {{user.login}}
            </li>
          </ul>
        </div>
    </div>
    <div [ngClass]="'flex-1'" class="container-fluid">
        <ul [ngClass]="'type'" *ngFor="let user of users">
            <img [ngClass]="'img'" src="{{user.avatar_url}}">
            <pre><a href="{{user.url}}" [ngClass]="'none'">{{user.url}}</a></pre>
            <pre>{{user.repos_url}}</pre>
            <pre>{{user.login}}</pre>
        </ul>
    </div>
    
</div>

