.flex{
    display: flex;
    flex-direction: row;
}
.none{
    text-decoration: none;
}
.img{
    width: 20vw;
}
.flex-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin-left: 0vw;
    padding-left: 10vw;
    background-color: rgb(141, 162, 201);
}