<div [ngClass]="'flex'">
    <div>
        <img [src]="creds.avatar_url">
        <pre class="display-4">{{creds.login}}</pre>
    </div>
    <div [ngClass]="'color'" class="container-fluid">
        <nav [ngClass]="'margin'">
            <a class="nav-link" href="" [ngClass]="'mar'" routerLinkActive='active'>repos {{creds.public_repos}}</a>
            <a class="nav-link" href="" [ngClass]="'mar'" routerLinkActive='active'>followers {{creds.followers}}</a>
            <a class="nav-link" href="" [ngClass]="'mar'" routerLinkActive='active'>following {{creds.following}}</a>
        </nav>
        <div>
            <ul [ngClass]="'repo'" *ngFor="let repo of repos">
                <pre>{{repo.name}}</pre>
                <a href="{{repo.html_url}}" [ngClass]="'link'" target="_blank">{{repo.html_url}}</a>
            </ul>
        </div>
    </div> 
</div>
